@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('//basehold.it/25');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* Base Styles */
/*
*  - Almost always element selectors (html, h1, p, etc.)
*  - Almost always aimed at typography, typographic grid
*    and colors
*  - Almost always mobile-first styles
*/

/*
  Setting type according to a 3:4 (Major Third) Modular Scale:
  https://www.modularscale.com/?20&px&1.333
*/

/*
* A note about em values and context:
* WHENEVER you change a `font-size` property, you have
* ALREADY changed your context for computing em values.
*/

html {
  font-family: 'Crimson Text', 'Hoefler Text', Georgia, 'Times New Roman', Times, Roman, serif;
  font-size: 1.25em; /* 20 / 16 = 1.25 */
  line-height: 1.25em; /* 25 / 20 = 1.25 */
  padding: 25px;
}

h1 {
  text-align: center;
  font-size: 1.7769em; /* 35.538 / 20 = 1.7769 */ /* Two steps up modular scale */
  line-height: 1.4069446789em; /* 50 / 35.538 1.4069446789 */
}
h2 {
  padding-top: 25px;
  font-weight: 600;
  color: purple;
}
p {
}
p + p {
  text-indent: 25px;
}

/* Layout Styles */
/*
* - Almost always ID selectors (#header, #content, #footer, etc.)
* - Almost exclusively aimed at layout (padding/margin, grid, flexbox, etc.)
* - Initially mobile-first styles
*/




/* Modular Styles */
/*
* - Almost always either class selectors or relationship selectors
*   (.information, #header ul, etc.)
* - Almost always aimed at decorative flourishes (borders, backgrounds,
*   special presenation of groups of elements)
*
*/




/* State Styles */
/*
*  - Two basic states: media queries, or JavaScript-based styles
*  - The states, particularly media queries, often take the order of
*    Base, Layout, and Modular styles within them.
*  - For JavaScript, the selectors will primarily if not exclusively
*    consist of class selectors (.active, .hidden, .featured)
*
*/
